#navigation{
    ul{
        li{
            a{
                color: $bgi;
                padding: 0 25px;
                font-size: 15px;
                font-weight: 600;
                letter-spacing: .1rem;
                text-decoration: none;
                text-transform: uppercase;
                &:hover{
                    text-decoration: underline;
                }
            }

        }
    }
}

#banner{

}


#Banner img {
    display: none;
}
// img {
//     max-width: 100%;
// }
#Banner {
    background-size: cover;
    opacity: 0;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(55,89,141)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: $bgi
}
